body{
  text-align: center;
  color: #222;
  font-size: 24px;
  font-family: sans-serif;
}

.languages{
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.language{
  display: flex;
  
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #ffebcd;
  border: 1px solid #222;
  margin: 2px;
}

.voteCount {
  display: flex;
  align-items: center;
}

.voteCount {
  border-radius: 50%;
  justify-content: center;
}

.language button {
  color: green;
  background-color: transparent;
  border: none;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}