.box{
    height: 80vh;
    background-color: grey;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    
}

.boxes{
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: aqua;
    margin: 10px;

}

#b{
    align-self: flex-end;
}