body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #174E63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  height: 20rem;
  width: 40rem;
  background-color: white;
  color: #174E63;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 10px;
}

.quote{
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-left: 1rem;
}

.author{
  font-size: 1.25rem;
  font-weight: bold;
  grid-column: 2;
  grid-row: 2;
  margin-left: 8rem;
}

.quotebutton{
  grid-column: 2;
  grid-row: 3;
  background-color: #174E63;
  color: white;
  width: 10rem;
  height: 4rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 9rem;
  border-radius: 10px;

}

.quotebutton:hover{
  background-color: #0F2C3E;
  cursor: pointer;
}