body{
    margin: 0;
}

.navbar {
    display: flex;
    background-color: #222831;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo a {
    text-decoration: none;
    color: white;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.navbar nav ul li {
    margin-left: 1.25rem;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 1rem;
    margin-top: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    max-height: 3rem;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #393E46;
    color: white;

}

.footer nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 6.5rem;
}

.footer nav ul li {
    margin-left: 4rem;

}

.footer nav ul li a {
    text-decoration: none;
    color: white
}

footer p {
    max-width: 90%;
    text-align: center;
}



.line {
    width: 90%;
    height: 1px;
    background-color: #fff;
    /* Change this to your preferred line color */
}

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    

    
}

.about h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: black
}

.about p {
    max-width: 60%;
    margin-bottom: 1rem;
    color: black;
    font-size: 2rem;
}

.about img{

    max-width: 70%;
    max-height: 70%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}