body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    background-color: #222831;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navbar .logo a {
    text-decoration: none;
    color: white;
  }
  
  .navbar nav ul {
    list-style: none;
    display: flex;
    margin-right: 1rem;
  }
  
  .navbar nav ul li {
    margin-left: 1.25rem;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: white;
  }

  .logo{
    margin-left: 1rem
  }



.container{
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Preview Flexbox */
.preview-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin: 1rem;
    width: 40%;
    height: 60%;
    overflow: hidden;
}
#left{
    background-color: #F38181;
}

#right{
    background-color: #FCE38A;
}

.preview-flexbox h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.preview-flexbox p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.preview-flexbox img {
    max-width: 100%;
    height: 20rem; 
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.preview-flexbox .select-preview-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.preview-flexbox .select-preview-btn:hover {
    background-color: #0056b3;
}





  /* Footer */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #393E46;
    color: white;

  }

  .footer nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 6.5rem;
  }

  .footer nav ul li {
    margin-left: 4rem;
    
  }
  
  .footer nav ul li a{
    text-decoration: none;
    color:white
    
  }
  
  
  
  .line {
    width: 90%;
    height: 1px;
    background-color: #fff; /* Change this to your preferred line color */
  }


  /* animation */

  .new-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
  }

  .left-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    height: 30rem;
    width: 30rem;

  }
  .emergency-wrapper {
    border-radius: 25px;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  #emergency-services{
    height: 3rem;
    color: white;
    background-color: #00ADB5;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.8rem;
  }

  #city{
    height: 3rem;
    color: white;
    background-color: #00ADB5;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.8rem;
    
  }


  .left-submit {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    margin-left: 22.4rem;
    margin-top: 26.7rem;
}

.left-submit:hover{
  background-color: #0056b3;
}

  #revert-btn-left{
    position: absolute;
    margin-right: 21.5rem;
    margin-bottom: 26.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  

  .revert-btn-left {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}



.revert-btn-left:hover{
    background-color: #0056b3;
}



.left-form-results{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
  background-color: #F38181;
  margin: 2rem;
  height: 100vh;

  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.emergencyItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 12rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.emergencyItem h3, .addressLine, .phone{
  display: flex;
  justify-content: center;
  align-items: center;
}

.emergencyItem .fa-solid{
  margin-right: 1rem;
}

.emergencyItem p{
  font-size: 1.25rem;
  font-weight: bold;
}

.left-form-return-btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: bold;

}

.left-form-return-btn:hover{
  background-color: #0056b3;
}

.final-results{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #F38181;
  

}


/* Right form */


.new-content-right{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
}

.revert-btn-right {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

#revert-btn-right{
order: 1;
justify-content: center;
align-items: center;

font-size: 1.25rem;
font-weight: bold;
}

.revert-btn-right:hover{
  background-color: #0056b3;
}
.combine{
display: flex;
flex-direction: row;
gap: 2rem;

}

.right-form{
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  
}

.combine div{
  margin: 2rem;
  height: 15rem;
}

.submit{
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.submit-btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  font-weight: bold;
}

.submit-btn:hover{
  background-color: #0056b3;
}

.search{
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.search-btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  font-weight: bold;
}



.search-btn:hover{
  background-color: #0056b3;
}

.search-individual{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.return-selection{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: 9.5rem;
  height: 3.5rem;
  position: relative;
  
  right: 5.2rem;
  bottom: 0.5rem;
}

.return-selection:hover{
  background-color: #0056b3;
}

.search-form{
  display: none;
  align-self: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 22rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
  
  
}

.search-form-btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  font-weight: bold;
  
}

.search-form-btn:hover{
  background-color: #0056b3;
}


.search-form input{
  height: 1.7rem;
  font-size: 1.25rem;
}

.search-results-container{
  display: none;
  text-align: center;
  

  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}


.search-results{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.search-results div{
  display: flex;
  flex-direction: column;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 20rem;
  justify-content: center;
  align-items: center;
}

.search-results img{
height: 10rem;
width: 15rem;
}

.back-to-search-btn{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  margin-bottom: 25rem;
 
}

.back-to-search-btn:hover{
  background-color: #0056b3;
}

.return-to-selection-btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  width: 7rem;
  
}

.return-to-selection-btn:hover{
  background-color: #0056b3;
}

.submit-individual{
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
  width: 20rem;

}


#user-form{
  gap: 1rem;
  margin: 2rem;
}

#user-form input{
  height: 1.5rem;
}

#user-form label{
  font-size: 1rem;
  width: 8rem;
  margin-left: -1.5rem;
}

.submit-individual-btn{
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #00ADB5;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  width: 5rem;
  
}

.submit-individual-btn:hover{
  background-color: #0056b3;
}


.form-submitted{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

.form-submitted h2{

  margin: 1rem;
}


/* Loader Animation */

.loader {
  display: flex;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.left-loader-wrapper{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #F38181 ;
  height: 100vh;
}

.right-loader-wrapper{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #FCE38A ;
  height: 100vh;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 800px) {
  .combine{
    flex-direction: column;
     
  }

  .combine div{
    margin-right: 4rem;
  }
}