html {
    background-color: #C5FFF8;
}
body{
    height: 100vh;
    width: 100vh;
}
.info {
    height: 75vh;
    width: 75vw;
    position: relative;
    justify-content: center;
    left: 10%;
    top: 10%;
}

.logo {

    text-align: center;
    background-color: #6DB9EF;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.logo i {
    padding-top: 18px;
}

.name {

    font-size: 25px;
    position: relative;
    width: 200px;
    height: 50px;
    top: -63px;
    left: 80px;

}

.navbar {
    padding-top: 50px;
    font-size: 20px;
    display: flex;
    position: absolute;
    top: -25px;
    left: 600px;


}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;

}

.navbar .child {
    padding-left: 50px;
}

select {
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
}

.picture {
    width: 300px;
    /* Set the width of the container */
    height: 300px;
    /* Set the height of the container */
    overflow: hidden;
    /* Hide any content that overflows the container */
    border-radius: 50%;
    /* Make the container round */
    border: 10px solid white;
    position: relative;
    top: 15%;
    left: 10%
}

.picture img {
    width: 100%;
    /* Make the image fill the container */
    height: auto;
    /* Maintain the aspect ratio of the image */
    display: block;
}

.information {

    position: relative;
    left: 50%;
    top: -27%;
    
}


.par {
    max-width: 400px;
    text-align: justify;
}

.title {
    opacity: 0.5;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.buttons a {
    text-decoration: none;

    border: 2px solid aliceblue;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 1%;
    border-radius: 50px;
    color: inherit;
    background-color: white;




}

.skill {
    width: 1000px;
    height: 250px;
    position: absolute;
    top: 80%;
    left: 15%;
     
}




.section {
    display: grid;
    grid-template-columns: auto 1fr; /* First column auto, second column takes up remaining space */
    grid-template-rows: auto auto; /* Two rows, size based on content */
    gap: 15px; 
}

.font {
    grid-row: span 2; /* Spanning two rows */
    grid-column: 1; /* Positioned in the first column */
}

.small-text {
    grid-row: 1; /* Positioned in the first row */
    grid-column: 2; /* Positioned in the second column */
}

.small-paragraph {
    grid-row: 2; /* Positioned in the second row */
    grid-column: 2; /* Positioned in the second column */
}
.font{
    width: 30px;
    height: 50px
}

.headtext{
    position: relative;
    left: 15%;
    top: -75px
}
.skill-text{
    position: relative;
    top: -75px;
    left: 15%;
    width: fit-content;
}
.actual-skills {
    width: 45%;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 150%;
    position: relative;
    left: -15%;
}



